<?xml version="1.0" encoding="UTF-8"?>
  <Installer>
      <Name>EbookCreator</Name>
      <Version>1.3.1</Version>
      <Title>EbookCreator</Title>
      <Publisher>CrowdWare</Publisher>
      <StartMenuDir></StartMenuDir>
      <TargetDir>@HomeDir@/EbookCreator</TargetDir>
      <Translations>
        <Translation>en.qm</Translation>
    </Translations>
  </Installer>